

*{
    padding: 0;
    margin: 0;
}
       /* nav bar section */
.logo{
    height: 70px;
}
.nav-ul{
    margin-left: 100px;
}
.nav-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-link li{
  margin: 0 12px ;
}
.nav-link li:hover a{
    color: green !important;
  }
  /* .nav-link:last-child a{
    color: black !important;
  } */

.cover-img{
    width: 100vw;

}
.main-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.heading{
    height: 400px;
    width: 820px;
    /* background-color: aqua; */
    position: absolute;
    display: flex;
    box-sizing: border-box;
  
}
   .cover-title  {
    color: white;
     margin: 74px 26px 6px 0;
    
     letter-spacing: 2px;
    }
    .cover-title h2{
        font-size: 37px;
    }

.cover-title h3{
    color: rgb(0, 209, 28);
    font-size: 31px;
}
.cover-title button{
    background-color: #0077ff;
    box-shadow: 0px 0px 1px;
    color: white;
    word-spacing: 3px;
    font-size: 20px;
    border: none;
    font-weight: 600;
    padding: 9px 28px;
    margin-top: 26px ;
}
.cover-title button:hover{
    background-color: #132b2e;
    box-shadow: 0px 0px 1px #132b2e ;
}

#steps-section{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.three-steps{
    /* background-color: aquamarine; */
  height: 55vh;
  width: 50vw;
  box-sizing: border-box;
}
.step{
    display: flex;
}
.step img{
    width: 60px;
    height: 60px;
}
.step-description{
    padding: 8px 20px;
   
}
.step-description p {
    color: grey;
    font-size: 18px;
}
.side-img{
    width: 40vw;
    height: 60vh;
    position: absolute;
    right: 0;
    bottom: 20px;
 }

 .green-line{
    width: 48vw;
 }
 .container-img{
    width: 45vw;
    height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aqua; */
    box-sizing: border-box;
 }
 .container-img img{
    width: 35vw;
    height: 40vh;
    /* margin-top: 70px ; */
 }
 .storage-desc p{
    color: grey;
    font-size: 20px;
    margin: 20px 0;
 }
 .bttn{
    padding: 14px 17px;
    margin: 10px ;
    border: none;
    background-color: gray;
    color: white;
    font-size: 30px;
    font-weight: 600;
 }
#btn-40{
    background-color: rgb(19, 146, 19);
}
 .cubic-capacity{
    margin: 12px 0;
 display: flex;
 font-size: 24px;
 }
 .cubic-capacity span{
 
    font-weight: 700;
 }
 .desc-data{
    /* background-color: blanchedalmond; */
    box-sizing: border-box;
    width: 26vw;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
 }
 .desc-data-value{
    margin: 0 10px;
 }
 .decs-data-value span{
     font-size: 20px;
     font-weight: 500;
     /* margin-left: 20px ; */
 }
 #btn-48{
    background-color: rgb(19, 146, 19);
}

.container-img-two{
    width: 45vw;
    height: 82vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
    box-sizing: border-box;
 }
 .container-img-two img{
    width: 37vw;
    height: 54vh;
 }
 .section-2{
    position: relative;
 }

 .left-lines{
    position: absolute;
    width: 20vw;
    height: 60vh;
    top: -170px;
 }

 /* map section starts here */

 .map-top{
    height: 14vh;
    background-image: url("images/map-bottom-lg.webp");
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   color: white;
 }
 .contact-top{
    height: 12vh;
    background-image: url("images/map-bottom-lg.webp");
 }

       /* ---- contact section  ---- */


.contact-form {
    position: relative;
    width: 100%;
    background-color: #132b2e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-form img {
    width: 100% !important;
    min-height: 100vh ;
    /* max-height: 1300px;
    min-height: 1200px; */
    background-size: cover;
    filter: grayscale(100%);
  }
    
  .contact-details {
    /* background-color: rgb(183, 228, 213); */
    position: absolute;
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .contact-heading{
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-heading h1{
    color: rgb(13, 197, 13) !important;
    letter-spacing: 1px;
  }

  .contact-line-input{
    display: flex;

  }

  .inputs-box{
    margin: 8px 14px;
   display: flex;
   flex-direction: column;
  }
  .inputs-box input{
    width: 330px;
    height: 32px;
    border: none;
    border-radius: 1px;
  }

  .contact-lastlines input{
  width: 100%;
  }
  .contact-lastlines textarea{
    border: none;
    resize: none;
  }

  .contact-form-btn{
    background-color: #0077ff;
    box-shadow: 0px 0px 1px;
    color: white;
    letter-spacing: 1px;
    font-size: 22px;
    border: none;
    font-weight: 600;
    padding: 9px 34px;
    margin: 40px 0;

  }
  .contact-form-btn:hover{
    background-color: #132b2e;
    box-shadow: 0px 0px 1px #132b2e;
  }

  /* footer */

  .footer{
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
  }
.footer-logo img{
  height: 12vh;
  }

  .footer-links{
    
    margin-top: 8vh;
  }
  .footer-links a{
    margin: 0 20px;
    color: gray;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
  }
  .footer-links a:hover{
    color: green;
  }

.footer-lines{
    position: absolute;
    right: 0;
    height: 35vh;
    width: 32vw;
}

